div{
    background-color: #61f4f4;
    border: 3px solid #4c0002;
    width: 100px;
    position: absolute;
}
.d1{
    z-index: 10;
}
#d1{
    z-index: 9;
}
.d2{
    z-index: 8;
}
#d2{
    z-index: 7;
}
div+div{
    position: absolute;
    left: 150px;
}
div+div+div{
    position: absolute;
    left: 300px;
}
div+div+div+div{
    position: absolute;
    left: 450px;
}
div+div+div+div+div{
    position: absolute;
    left: 600px;
}